:host {
  align-items: center;
  display: flex;
  flex-flow: column;

  .stats {
    padding-top: 10px;

    &__title {
      font-weight: 700;
    }

    &__value {
      &--outcome {
        font-size: 20px;
        font-weight: 700;
      }
    }
  }
}
